# Python
__pycache__/
*.py[cod]
.venv/
venv/
*.db
.env

# Node
node_modules/
.next/
out/
dist/
*.tsbuildinfo
npm-debug.log*

# IDE
.idea/
.vscode/
*.swp

# OS
.DS_Store
Thumbs.db

# Models / artifacts
models/*
!models/.gitkeep
